<h1 align="center"> POSTS </h1>

<% @posts.each do |post| %>

  <div class="panel panel-default">
    <div class="panel-heading"><h3><strong><%= link_to post.title, post%></strong> <br><small>Created by ... <%= post.created_at.strftime("%B, %d, %Y") %></small></h3></div>
    <div class="panel-body"><h4><%= post.body %></h4></div>
  </div>
<% end %>
