

  <h1 align="center"> POSTS </h1>
<% @posts.each do |post| %>

  <div class="panel panel-default">
    <div class="panel-heading"><h4><strong><%= link_to post.title, post%></strong> <br><small>Created by ... <%= post.created_at.strftime("%B, %d, %Y") %></small></h4></div>
    <div class="panel-body"><p><%= post.body %></p></div>
  </div>
<% end %>
</div>
