/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 body, html {
     height: 100%;
 }

 .main_page{
   padding-left: 5%;
 }
 
body{
  background-color: #282b30;
  color : #828282;
}
 .panel-default > .panel-heading {
   background-color: #333333;
 }
.panel-body{
  background-color: #3f3f3f;
}

.list-group >.list-group-item{
  background-color: #333333;
  color: #337ab7;
  border: 0px;
}

 .post {
   width: 100%;
   height: 150px;
   padding: 12px 20px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
}

.form-control{
  background-color: #14181F;
}

 .affix {
       top: 60px;
       margin-right: 7.2%;
   }

nav {
  background-color: #14181F;
  opacity: 0.92;
}
#myNavbar  {
  margin-top: 7px;
  padding-bottom: 7px;
  margin-left: 5%;
  margin-right: 5%;
}

.navbar-buttons{
  font-size: 130%;
}
p{
  font-size: 120%;
}

.sidebar{
  width: 350px;
}

.recently{
  font-size: 120%;
  width: 350px;
  text-align: center;
  background-color: #333333;
  color: #337ab7;
}

.categories{
  font-size: 110%;
  width: 350px;
  text-align: center;
  background-color: #333333;
  color: #337ab7;
}


.btn-grey{
  background-color: #3D424A;
  color:#337ab7;
}

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 7px;
}


/* footer social icons */
.social-circle a.icoRss {
  background-color: #3D424A;
}

.social-circle a.icoFacebook {
  background-color: #3D424A;
}

.social-circle a.icoTwitter {
  background-color: #3D424A;
}

.social-circle a.icoLinkedin {
  background-color: #3D424A;
}

.social-circle a.icoGoogle {
  background-color: #3D424A;
}
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.about-me{
  overflow-y: auto;
  height: 250px;
  text-align: center;
}

.sidebar_border{
  padding: 2px;
  border: 5px solid white;
  border-radius: 10px;
}
