<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<!-- Navigation -->
<div class="col-sm-2"></div>
<div class="col-sm-8">
  <nav>
    <ul class="w3-navbar w3-black">
      <li><a href="javascript:void(0)">Home</a></li>
      <li><a href="javascript:void(0)">Band</a></li>
      <li><a href="javascript:void(0)">Tour</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
    </ul>
  </nav>
</div>
</body>
</html>


    <%= yield %>
  </body>
</html>
